<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>文件管理系统</title>
</head>

<body>
    <form method="POST" action="/v1/file/upload?_csrf={{ ctx.csrf | safe }}" enctype="multipart/form-data">
        tag: <input name="tag" />
        file: <input name="file" type="file" />
        <button type="submit">Upload</button>
    </form>
</body>

</html>